<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a href="/" class="active">Boutique</a>
                </li>
                <li class="main-header__item">
                    <a href="/admin/add-book">Rajouter un livre</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Erreurs 404</h1>
    </main>
</body>
</html>